<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Group Detail</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介</th>
            <th>タグ</th>
            <th>メンバー</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @group.get_image, size:"50x50", fallback:"no_image.jpg" %></td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% @group.tags.each do |tag| %>
                <span class="badge badge-primary"><%= tag.name %></span>
              <% end %>
            </td>
            <td>
              <% @group.users.each do |member| %>
                <%= member.name %><br>
              <% end %>
            </td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to "Edit", edit_group_path(@group), class: "btn btn-sm btn-success" %>
                <%= link_to "Destroy", group_all_destroy_path(@group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
              <% elsif @group.users.include?(current_user) %>
                <%= link_to "Leave this group", group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to "Join this group", group_join_path(@group), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @group.users.include?(current_user) %>
        <%= link_to "Chat", group_chats_path(@group), class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>