<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <% @chats.each do |chat| %>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(chat.user_id) do %>
              <%= image_tag chat.user.get_profile_image, size:"30x30", fallback:"no_image.jpg" %>
              <%= chat.user.name %>
            <% end %>
          </td>
          <td><%= chat.message %></td>
          <% if chat.image_url != nil %>
            <td><%= image_tag chat.image_url %></td>
          <% end %>
        </tr>
      </table>
      <% end %>
      <div>
        <%= form_with model: @chat, local: true do |f| %>
          <%= text_field_tag 'chat[group_id]', "#{@group.id}", type: 'hidden' %>
          <div class="form-group">
            <%= f.text_area :message, name: 'chat[message]' %>
          </div>
          <div class="form-group">
            <%= f.file_field :image, class: 'form-control image', accept: 'image/*', name: 'chat[image]'  %>
          </div>
          <div class="form-group">
            <%= f.submit '投稿', class: 'btn btn-outline-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>