<%= form_with model:book, local:true do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :opinion %><br>
    <%= f.text_area :body %>
  </div>
  <%= f.submit edit:"Update Book", index:"Create Book", class: "btn btn-sm btn-primary" %>
<% end %>