<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= render 'layouts/errors', obj: @book %>
        <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
        <%= render 'form', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'searches/search' %>
      <%= form_with url: books_path, method: :get, class: 'books_searchForm' do %>
        <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
        {
          prompt: 'タグで絞り込み',
          class: 'form-control books_select',
          onchange: 'submit(this.form);'
        }
      %>
      <% end %>
      <%= render 'index', book: @book, books: @books %>
    </div>
  </div>
</div>