<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <p id="notice"></p>
      <h2>User info</h2>
      <%= render "users/info", user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render "form", book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <thead>
          <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image, size:"50x50", fallback:"no_image.jpg" %><br>
              <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td id="favorite_buttons_<%= @book.id %>">
              <%= render 'favorites/favorites', book: @book %>
            </td>
            <td>
              <div id="comments_count"><%= render 'book_comments/book_comments_count', book: @book %></div>
            </td>

            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id="comments_area">
        <%= render 'book_comments/book_comments', book: @book %>
      </div>
      <div class="new-comment">
        <%= render 'book_comments/book_comments_form', book: @book, book_comment: @book_comment %>
      </div>

    </div>
  </div>
</div>


